.titulo {
    font-weight: bold;
}

.tiempo {
    margin-bottom: 4px;
    font-size: 1em;
    text-transform: uppercase;
    font-weight: 400;
}

.enlace {
    font-size: 0.8em;
    font-weight: 900;
}
